<div id="<%= dom_id post %>">
  <h2>
    <strong><%= post.title %></strong>
  </h2>

  <p>
    <%= post.short_description %>
  </p>

  <p>
    <%= post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user.email %>
  </p>

</div>
